/* navbar */
.navbar{
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-logo{
  text-transform: uppercase;
  font-size: 1.5em;
  margin-left: 5px;
  margin-bottom: 0;
}
.navbar-brand img{
  width: 45px;
}
.name-logo span{
  color: rgb(242, 183, 5);
}
/* Right button */
.btn{
  position: relative;
  margin: 0;
}
.btn i{
  font-size: 1.25em;
}
.nav-btns:hover{
  color: rgb(242, 183, 5);
}
.nav-link:hover{
  color: rgb(242, 183, 5);
}
/* media queries */
@media(min-width: 992px){
  .nav-item{
      border-bottom: none;
  }
}